# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment variables
.env

# Build folders
build/
dist/
.next/

# Java
target/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db